<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find kr270_gazebo)/worlds/kr270.world"/>
    <!-- more default parameters can be changed here -->
  </include>

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find kr270_description)/urdf/kr270.urdf -urdf -z 5 -R 3.1416 -model KR270" />
</launch>
